<mat-accordion *ngIf="lembretes.length > 0">
  <mat-expansion-panel *ngFor="let lembrete of lembretes">

    <mat-expansion-panel-header>Atividade: {{ lembrete.descricao }}</mat-expansion-panel-header>
    <p>Data de cadastro: {{ lembrete.datacadastro }}</p>
    <hr />
    <p>Data para realizar a atividade: {{ lembrete.datarealizar }}</p>

    <mat-action-row>
      <a
        mat-button
        color="primary"
        [routerLink]="['/editar', lembrete.id]"
       >
       EDITAR
      </a>

      <button
         mat-button
         color="warn"
         (click)="onDelete(lembrete.id)">
         REMOVER
      </button>
    </mat-action-row>

  </mat-expansion-panel>
</mat-accordion>
<p class="mat-body-1" style="text-align: center;" *ngIf="lembretes.length <= 0">
  Nenhum lembrete adicionado
</p>
